<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{% block title %}Todo{% endblock %}</title>
  <link href="/Static/css/compiled/styles.css" type="text/css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
<div class="top-bar">
  Login
</div>
<div class="main-wrapper">
  <header class="main-header">
    Head
  </header>
  <main class="main">
    {% block body %}{% endblock %}
  </main>
  <footer class="main-footer">
    Foot
  </footer>
</div>

{# Put extra scripts here #}
{% block foot %}{% endblock %}
</body>
</html>